#standard ignores
node_modules/
logs/
*.sublime-project
*.sublime-workspace
npm-debug.log
.nyc_output

# keep only the data folder
data/*
!data/.gitkeep
cloc_output.txt
tree_out.txt

#don't track our super secret speckle stuff™ file
.env