<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-6'>
  <p class='display-1 text-center'>
  <img src="https://en.gravatar.com/userimage/159900111/0c61da434c81b4ee4eb00b897b8b06a2.png"></p>

  <p class='text-muted text-center'>
    Thanks for confirming your account at <br><kbd>{{server}} | {{url}}</kbd>
    <br>
    You can now login.
  </p>

  </div>
</div>
