<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-6 py-4 text-center'>
  {{!-- <img class="img-fluid mb-4" src="https://http.cat/500"> --}}
  <div class='alert alert-danger'>
    {{{errorMessage}}}
  </div>
  <p class='text-center'>
    <a href='/signin'>Signin Home</a>
  </p>
  </div>
</div>
