<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-6'>
  <p class='text-center font-weight-light display-4' style="color:#0A66FF">Speckle,</p>
  <p class='font-weight-lighter text-center'><small>the open source data platform for aec.</small></p>
  </div>

  <div class='col-sm-12 col-lg-6'>
  <br>
  <div class='alert alert-secondary'>
    Reset your password for your account @ <b>{{server}}</b> <small>({{url}})</small>.
  </div>

  <form method="post">
    <div class="form-group">
      <label for="inputPwd">Your new password *</label>
      <input required minlength="8" name="password" type="password" class="form-control" id="inputPwd" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
  </form>
  <br>
  </div>
</div>
