<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-6'>
  <p class='display-1 text-center'>
    <img src="https://en.gravatar.com/userimage/159900111/0c61da434c81b4ee4eb00b897b8b06a2.png"></p>
  <p class='text-muted text-center'>Now <b>registering</b> an account at <br><kbd>{{server}} | {{url}}</kbd> </p>
  <form>
    <div class="row">
      <div class="form-group col-6">
        <label for="name">Name *</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter your name">
      </div>
      <div class="form-group col-6">
        <label for="surname">Surname *</label>
        <input type="text" class="form-control" id="surname" aria-describedby="surname" placeholder="Enter your surname">
      </div>
    </div>
    <div class="form-group">
      <label for="company">Company (optional)</label>
      <input type="text" class="form-control" id="company" aria-describedby="company" placeholder="Your company">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address *</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password *</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>
