<div class="row align-items-center justify-content-center">
  <div class='col-sm-12 col-lg-6'>
  <p class='text-center font-weight-light display-4' style="color:#0A66FF">Speckle,</p>
  <p class='font-weight-lighter text-center'><small>the open source data platform for aec.</small></p>
  </div>

  <div class='col-sm-12 col-lg-6'>
    <br>
    <div class='alert alert-primary'>
      {{{message}}}
    </div>
    <br>
  </div>
</div>
