<div class="row align-items-center justify-content-center">
  <div class='alert alert-secondary pa-4 ma-4'>
    {{#if success}}
    Thanks for veryifying your email address. Rock on!
    {{else}}
    Something went wrong; we couldn't verify your email.
    {{/if}}
  </div>
</div>
